<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="alert alert-success" role="alert">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <h4 class="alert-heading">Confirm Email!</h4>
    <p> A mail has been sent to your  corresponding E-mail ID. Please Verify to confirm your registration  </p>
  <hr>
  <p class="mb-0">Thank You</p>
    <!--<button type="submit" class="" ></button> <a href="www.google.com"></button>-->

</div>
<h1></h1>

</div>

</body>
</html>

<style>
body{
    text-align:center;
    background-image:url('{{ STATIC_URL }}/static/images/bhl-books.jpg');
  }
</style>