{% extends "base_generic.html" %}

{% block content %}
<div class = "jumbotron container-fluid" style = "width:1200px; height:400px">

    <p></p>
    <p>
    </p>
    <p></p>
    <h1>Annual Subscription Fee</h1>
<form action="" method="post">
    {% csrf_token %}

<hr>



</form>
    <button id="myBtn" class="btn btn-primary">Click Here to Pay!</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p><form >
<script src="https://checkout.stripe.com/checkout.js"></script>
<button id="customButton" class ="btn btn-success">Annual Subscription: 70 Euros </button>
</form></p>


  </div>
    <style>.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}</style>

    <script>var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}</script>

<!--</div>-->
<!--<div class = "jumbotron container-fluid" style = "width:1200px; height:300px">-->
<!--<h2>Buy for Euros:70.00</h2>-->

<!--<form >-->
<!--<script src="https://checkout.stripe.com/checkout.js"></script>-->
<!--<button id="customButton">Purchase</button>-->
<!--</form>-->

<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_ckKO5YW4t5HNlJT5vOF6Ju8900XaANUGFO',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    alert("Membership added succesfully");
    window.location.href = "http://ec2-54-154-11-155.eu-west-1.compute.amazonaws.com:8000/catalog/ ";
    // Get the token ID to your server-side code for use.
  }
});
document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Demo Site',
    description: '2 widgets',
    currency: 'eur',
    amount: 0*100
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>

</div>

{% endblock %}
